{
 :paths ["target/classes" "src" "test"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.0"}}

 :aliases
 {
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
          :ns-default build}
 }
}
